<div class="main">
    <h1 class="head-title center">Manage Complaints</h1>
    <div class="content-info">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Complain</th>
                <th scope="col">Date Created</th>
                <th scope="col">status</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Reserve button disbaled</th>
                <td>14/09/2017</td>
                <td><button type="button" class="btn-default btn-warning">Pending</button></td>
                <td class="clear-btn"><button><i class="fa fa-edit blue"></i></button><button><i class="fa fa-eye"></i></button></td>
              </tr>
              <tr>
                <th scope="row">Reserve button disbaled</th>
                <td>14/09/2017</td>
                <td><button type="button" class="btn-default btn-danger">Pending</button></td>
                <td class="clear-btn"><button><i class="fa fa-edit blue"></i></button><button><i class="fa fa-eye"></i></button></td>
              </tr>
              <tr>
                <th scope="row">Reserve button disbaled</th>
                <td>14/09/2017</td>
                <td><button type="button" class="btn-default btn-success">Pending</button></td>
                <td class="clear-btn"><button><i class="fa fa-edit blue"></i></button><button><i class="fa fa-eye"></i></button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div> 