<!--Center column with date and arrows-->
<div class="calendar-view px-4">
  <div>

    <div class="header centerText">
      <!--Display center date-->
      <div>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en':weekStartsOn:excludeDays }}</div>
    </div>
  </div>

  <!--weekly view for the calendar-->
  <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [excludeDays]="excludeDays"
    [dayStartHour]="8" [dayEndHour]="17" [hourSegments]="1" (hourSegmentClicked)="hourSegmentClicked($event)">
  </mwl-calendar-week-view>


  <div class="d-flex flex-row justify-content-between my-4">
    <!--Lefthand button-->
    <button class="btn" mwlCalendarPreviousView [view]="CalendarView.Week" [(viewDate)]="viewDate">
      Previous Week
    </button>

    <!--Righthand button-->
    <button class="btn" mwlCalendarNextView [view]="CalendarView.Week" [(viewDate)]="viewDate">
      Next Week
    </button>
  </div>

  <!--Button and title to change meetings-->
  <h3>
    Reservations
    <div class="clearfix"></div>
  </h3>

  <div class="table-responsive">

    <tbody>
    </tbody>

  </div>
</div>