  <!--Center column with date and arrows-->
  <div class="calendar-view">
    <div>
     
      <div class="header-btns">
        <!--Lefthand button-->
        <div
          mwlCalendarPreviousView
          [view]="CalendarView.Week"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          &lsaquo;
        </div>
        
        <!--Display center date-->
        <div>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en':weekStartsOn:excludeDays }}</div>
        
        <!--Righthand button-->
        <div
          mwlCalendarNextView
          [view]="CalendarView.Week"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          &rsaquo;
        </div>
      </div>
    </div>

<br />

<!--weekly view for the calendar-->
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [excludeDays]="excludeDays"
    [dayStartHour]="8"
    [dayEndHour]="17"
  >
  </mwl-calendar-week-view>


<br />
<div style="display: flex;justify-content: space-between;">
  <!--Lefthand button-->
  <button
    class="btn btn-round"
    mwlCalendarPreviousView
    [view]="CalendarView.Week"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()">
    Previous Week
  </button>
  
  <!--Righthand button-->
  <button 
    class="btn btn-round"
    mwlCalendarNextView
    [view]="CalendarView.Week"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()">
    Next Week
  </button>
</div>

<!--Button and title to change meetings-->
<h3>
  Edit Meetings
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  


    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]!="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]!="event.color.secondary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>

</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
</div>


  
  