h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.centered {
  margin: auto;
  max-width: 500px;
  max-height: 50px;
}

.vertical {
  margin-top: 8%;
}

.btn-round {
  border-radius: 10px;
}

.header-btns {
  display: block;
  text-align: center;
  margin-top: 2rem;
}

.header-btns div {
  display: inline-block;
  font-weight: 600;
  font-size: 40px;
  padding: 0px 50px;
}

.calendar-view {
  // margin: auto;
}