
    <!--Center column with date and arrows-->
     
      <div class="centered" style="display: table;">
       
        <div style="display: table-row">
          <!--Lefthand button-->
          <div style="display: table-cell;"
            class="btn"
            mwlCalendarPreviousView
            [view]="CalendarView.Week"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <h2>&lsaquo;</h2>
          </div>
          
          <!--Display center date-->
          <div style="display: table-cell;">
            <h3 class="vertical">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en':weekStartsOn:excludeDays }}</h3>
          </div>
          
          <!--Righthand button-->
          <div style="display: table-cell;"
            class="btn"
            mwlCalendarNextView
            [view]="CalendarView.Week"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <h2>&rsaquo;</h2>
          </div>
        </div>
      </div>

  <br />

    <!--Button and title to change meetings-->
    <h3>
      Edit Meetings
      <button class="btn btn-primary float-right" (click)="addEvent()">
        Add new
      </button>
      <div class="clearfix"></div>
    </h3>
    
 
  <!--weekly view for the calendar-->
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [excludeDays]="excludeDays"
      [dayStartHour]="8"
      [dayEndHour]="17"
    >
    </mwl-calendar-week-view>
  
  
  <br /><br /><br />
  



  
  