<div class="container-fluid p-5" style="height: 100%;">
    <h1 class="mainHeading centerText">Register</h1>
    <form [formGroup]="registerFormGroup" novalidate (ngSubmit)="save(registerFormGroup.value,registerFormGroup.valid)" class="mx-auto centerText" style="min-width: 400px; max-width: fit-content;">

        <div class="form-group">
            <mdb-form-control>
                <input mdbInput type="text" formControlName="fullName" class="form-control" />
                <label mdbLabel class="form-label" for="fullName">Full Name</label>
                
                <div *ngIf="(fullName!.invalid && fullName!.touched) || fullName!.dirty">
                    <small *ngIf="fullName!.errors?.required" class="text-danger">Full Name is required</small>
                  </div>
            </mdb-form-control>
        </div>

        
        <div class="form-group">
            <mdb-form-control>
                <input mdbInput type="text" formControlName="email" class="form-control" />
                <label mdbLabel class="form-label" for="email">Email</label>
                

                <div *ngIf="(email!.invalid && email!.touched) || email!.dirty">
                    <small *ngIf="email!.errors?.required" class="text-danger">Email is required</small>
                    <small *ngIf="email!.errors?.email" class="text-danger">Please provide a valid email address</small>
                  </div>
            </mdb-form-control>
        </div>

    
        <div class="form-group">
            <mdb-form-control>
                <input mdbInput type="password" formControlName="password" class="form-control" />
                <label mdbLabel class="form-label" for="password">Password</label>
                <div *ngIf="(password!.invalid && password!.touched) || password!.dirty">
                    <small *ngIf="password!.errors?.required" class="text-danger">Password is required</small>
                  </div>
            </mdb-form-control>
        </div>

        
        <div class="form-group">
            <mdb-form-control>
                <input mdbInput type="password" formControlName="confirmPassword" class="form-control" />
                <label mdbLabel class="form-label" for="confirmPassword">Confirm Password</label>
                <div *ngIf="(confirmPassword!.invalid && confirmPassword!.touched) || confirmPassword!.dirty">
                    <small *ngIf="confirmPassword!.errors?.required" class="text-danger">Please confirm password</small>
                  </div>
            </mdb-form-control>
        </div>

    
            <!-- Sign in button -->
            <button type="submit" [disabled]="!registerFormGroup.valid" class="btn lg mt-4">Register</button> 
    </form>
 

    <div class="container centerText mt-5">
        <p>Already have an account?</p>
        <button type="button" class="btn" routerLink="../Login">Sign In</button>
    </div>

</div>