<div class="container-fluid p-5">
    <h1 class="mainHeading center">Manage Profile</h1>
    <div class="content-info d-lg-flex flex-wrap flex-row">
        <div class="info-box">
            <h3 class="center">Personal Info</h3>
            <div class="box">
                <form [formGroup]="manageProfileFormGroup" class="mx-auto centerText">
                    <div class="form-group">
                        <mdb-form-control>
                            <input mdbInput type="text" formControlName="fullName" class="form-control" id="fullName" />
                            <label mdbLabel class="form-label">Full Name</label>
                        </mdb-form-control>
                    </div>

                    <div class="form-group">
                        <mdb-form-control>
                            <input mdbInput type="text" formControlName="email" class="form-control" id="email"
                                [disabled]="true" />
                            <label mdbLabel class="form-label" for="email">Email</label>
                        </mdb-form-control>
                    </div>

                </form>
            </div>
        </div>
        <div class="info-box">
            <h3 class="center">Billing Info</h3>
            <div class="box">
                <form [formGroup]="billingFormGroup" class="mx-auto centerText">

                    <div class="form-group">
                        <mdb-form-control class="m-t-0">
                            <input mdbInput type="text" formControlName="nameOnCard" class="form-control" />
                            <label mdbLabel class="form-label" for="nameOnCard">Name on card</label>
                        </mdb-form-control>
                    </div>

                    <div class="form-group">
                        <mdb-form-control>
                            <input mdbInput type="text" formControlName="address" class="form-control" />
                            <label mdbLabel class="form-label" for="address">Address</label>
                        </mdb-form-control>
                    </div>

                    <div class="form-group">
                        <mdb-form-control>
                            <input mdbInput type="text" formControlName="cardNumber" class="form-control" />
                            <label mdbLabel class="form-label" for="cardNumber">Card Number</label>

                            <div *ngIf="(cardNumber!.invalid && cardNumber!.touched) || cardNumber!.dirty">
                                <small *ngIf="cardNumber!.errors?.pattern" class="text-danger">invalid card
                                    number</small>
                            </div>
                        </mdb-form-control>
                    </div>

                    <div class="form-group">
                        <mdb-form-control class="expiry">
                            <input mdbInput type="text" formControlName="expiry" class="form-control" />
                            <label mdbLabel class="form-label" for="expiry">Expiry (mm/yy)</label>

                            <div *ngIf="(expiry!.invalid && expiry!.touched) || expiry!.dirty">
                                <small *ngIf="expiry!.errors?.pattern" class="text-danger">invalid expiry</small>
                            </div>
                        </mdb-form-control>
                    </div>

                </form>
            </div>

        </div>

    </div>

    <div class="center update-btn">
        <button type="submit" class="btn lg mt-4 center" (click)="update()">Update</button>
    </div>


</div>