<div class="main">
    <h1 class="head-title center"><i class="fa fa-star"></i>Manage Meeting</h1>
    <p class="time center">11am-12pm</p>
    <div class="content-info">
        <div class="box bordered-box">
            <h4 class="center">Participants</h4>
            <ul>
                <li>
                    <span>John Williams</span>
                    <button class="close-btn">
                        <i class="fa fa-times"></i>
                    </button>
                </li>
                <li>
                    <span>John Williams</span>
                    <button class="close-btn">
                        <i class="fa fa-times"></i>
                    </button>
                </li>
            </ul>
            <div class="center"><button type="button" class="btn sm mt-4 center add-btn">Add Participants</button>
            </div>
        </div>
        <div class="box center" style="padding-left: 50px;">
            <h3>You are the owner of this meeting</h3>
            <p class="time">1 Hour, 42 minutes left</p>
        </div>
    </div>
    <div class="center cancel-btn mt-4"><button type="submit" class="btn sm mt-4 center">Cancel Reservation</button>
    </div>

</div>