<div class="main">
    <h1 class="head-title center">Manage Rooms</h1>
    <div class="content-info">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Room</th>
                <th scope="col">Date Created</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><i class="fa fa-star star-btn"></i> Room 41</th>
                <td>14/09/2017</td>
                <td class="clear-btn"><button><i class="fa fa-edit blue"></i></button><button><i class="fa fa-trash red"></i></button></td>
              </tr>
              <tr>
                <th scope="row"><i class="fa fa-star star-btn"></i> Room 41</th>
                <td>14/09/2017</td>
                <td class="clear-btn"><button><i class="fa fa-edit blue"></i></button><button><i class="fa fa-trash red"></i></button></td>
              </tr>
              <tr>
                <th scope="row"><i class="fa fa-star star-btn"></i> Room 41</th>
                <td>14/09/2017</td>
                <td class="clear-btn"><button><i class="fa fa-edit blue"></i></button><button><i class="fa fa-trash red"></i></button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="center cancel-btn mt-4"><button type="submit" class="btn sm mt-4 round-btn">Add Room</button></div>

</div> 