<div class="main">
  <h1 class="mainHeading center">Manage Rooms</h1>
  <div class="content-info" *ngIf="rooms">
    <table class="table shadow-3">
      <thead class="table-light">
        <tr>
          <th scope="col">Room</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td scope="row"><i class="fa fa-star star-btn" *ngIf="room.IsSpecial"></i> Room {{room.Id}}</td>
          <td>{{room.IsSpecial ? '$100' : 'Free'}}</td>
          <td class="clear-btn" style="text-align: end;">
            <button style="text-align: center; transform: scale(1.2);" (click)="deleteRoom(room)">
              <i class="fa fa-trash red"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="center cancel-btn mt-4">
    <button (click)="addRoom()" class="btn lg mt-4">Add Room</button>
  </div>

</div>