<div class="main">
    <h1 class="head-title center">Complaints</h1>
    <div class="content-info">
        <div class="box">
            <h4 class="center">Past Complaints</h4>
            <ul>
                <li><span>#45C2</span> Refund not processed</li>
                <li><span>#45C2</span> Refund not processed</li>
                <li><span>#45C2</span> Refund not processed</li>
                <li><span>#45C2</span> Refund not processed</li>
            </ul>
        </div>
        <div class="box center" style="padding-left: 80px;">
            <h4 class="center">Past Complaints</h4>
            <ul>
                <li>Disabled</li>

            </ul>
        </div>
    </div>
    <div class="center cancel-btn mt-4"><button type="submit" class="btn sm mt-4 center">New Complaint</button></div>

</div> 